.bg{
    background: #06060600;
    align-items: center;
    background-image: url(../assets/cool-background.png);
}

.heading{
    text-decoration-thickness: from-font;
    color: #FFFFFF; 
    text-align: center;
    font-size: 76px;
    font-weight: 600;
}

.subh{
    text-align: center;
    font-size: 35px;
    color: #FFFFFF;
}
.list1{
    font-size: 20px;
    text-align: center;
    text-shadow: #06060600;
}
